div {
    margin: 10px;
    border: 2px solid black;
}

.border {
    border: 2px solid black;
}

.border-parts {
    border-left: 2px solid red;
    border-right: 2px solid green;
    border-top: 2px solid blue;
    border-bottom: 2px solid yellow;
}

.border-radius {
    border: 2px solid black;
    border-radius: 25px;
}

.background-image {
    background-image: url('https://getwallpapers.com/wallpaper/full/2/8/f/1039267-popular-death-proof-wallpaper-1920x1080.jpg');
}

.color {
    color: red;
}

.font {
    font: 1.5em Arial, sans-serif;
}

.font-family {
    font-family: 'Courier New', Courier, monospace;
}

.font-style {
    font-style: italic;
}

.font-weight {
    font-weight: bold;
}

.width-height {
    width: 200px;
    height: 100px;
}

.list-style {
    list-style: square inside none;
}

.padding {
    padding: 20px;
}

.overflow {
    overflow: auto;
}

.display {
    display: flex;
}

.position {
    position: absolute;
    top: 0;
    right: 0;
}

.filter {
    filter: blur(5px);
}
